#title
{
    background-color: red;
    color:white;
    margin:auto;
    text-align: center;
    font-size: 2em;
    padding:3%;
}
#app
{
    background-color: blue;
    color:white;
    font-size:1.2em;
    padding:1%;
}